/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #F4BE66;
    --secondaryColor: #89B894;
    --accentColor: #D67C61;
    --hoverButtonColor: #b96951;
    --disableButtonColor: silver;
    --backgroundColor: #F9F4E7;
    --baseTextDarkColor: #050316;



    /* TEXT  */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --smallSpacing: 10px;
    --standardSpacing: 16px;
    --mediumSpacing: 24px;
    --largeSpacing: 35px;
    --xLargeSpacing: 50px;

    /* DETAILS */
    --borderRadius: 10px;
    --round: 50%;
    --shadow: 3px 3px 8px gray;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.fullWidth {
    grid-column: 1/-1;
}

.filterContainer.hidden {

    display: none;
}

.italic {
    font-style: italic;
}

/* --- GENERALS --- */
header {
    background-color: var(--backgroundColor);
    height: auto;
    padding: var(--standardSpacing);
}

body {
    margin: 0;
    background-color: var(--backgroundColor);
}

main {
    display: grid;
    grid-template-columns: 5% repeat(12, 1fr) 5%;
}

section {
    grid-column: 2/-2;
}



i {
    color: var(--accentColor);
}

.nyesteOpskrifterContainer,
.udvalgteOpskrifterContainer,
.nyesteArtiklerContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.opskriftListeContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label {
    grid-column: 2 / -2;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-size: 1.8rem;
    text-transform: capitalize;
    margin: var(--mediumSpacing) 0;
    text-align: center;
    color: var(--baseTextDarkColor);
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-family: "Dancing Script", cursive;
    color: var(--accentColor);
    margin: var(--xLargeSpacing) 0;
    color: var(--baseTextDarkColor);
    text-align: center;
    font-weight: 400;
    overflow: hidden;
}

/* TILFØJ LINJER PÅ BEGGE SIDER AF EN OVERSKRIFT */
.lineDetail::before,
.lineDetail::after {
    background-color: var(--secondaryColor);
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.lineDetail::before {
    right: 3rem;
    margin-left: -50%;
}

.lineDetail::after {
    left: 3rem;
    margin-right: -50%;
}



h3 {
    font-size: 1.3rem;
    margin: 0px;
    color: var(--baseTextDarkColor);
    font-weight: 400;
}


p {
    margin: 0 0 var(--smallSpacing) 0;
    color: var(--baseTextDarkColor);
}





/* --- NAVIGATION --- */
nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: var(--xLargeSpacing);
    list-style: none;
    margin: 0;
}

nav .logo {
    width: 60px;
    padding: 0;
}

nav a {
    font-size: 1.6rem;
    text-decoration: none;
    padding: var(--smallSpacing);
    display: inline-flex;
    color: var(--baseTextDarkColor);
    text-transform: uppercase;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--accentColor);
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
}

nav a:hover::after {
    transform: scaleX(1);
}

nav a.logo:hover::after {
    transform: scaleX(0);
}

nav button {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    font-size: 1.8rem;
    color: var(--accent Color);
}

nav button:hover {
    transform: scale(1.1);
    transition: .3s;
}

nav .dropdown {
    position: absolute;
    flex-direction: column;
    background-color: #F4BE66;
    width: 200px;
    padding: var(--standardSpacing) var(--xLargeSpacing);
    gap: var(--standardSpacing);
    display: none;
}

nav .dropdown a {
    font-size: 1.2rem;
}

nav .opskriftDropdown:hover .dropdown {
    display: flex;
}

/* --- HERO --- */

.hero video,
.hero img {
    object-fit: cover;
    width: 100%;
    height: 80vh;
}

.hero h1 {
    font-size: 5rem;

}

.hero h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: var(--smallSpacing) 0;
}

.hero .textBackground {
    position: absolute;
    text-align: center;
    width: 80%;
    min-width: 800px;
    min-height: 400px;

    background: radial-gradient(rgba(255, 255, 255, 0.863) 0%, rgba(255, 255, 255, 0) 71%, rgba(255, 255, 255, 0) 100%);
    /* padding: var(--xLargeSpacing); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .textContainer {
    min-width: 400px;
    max-width: 700px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --- FOOTER --- */
footer {
    height: 40vh;
    margin-top: var(--xLargeSpacing);
    background: var(--primaryColor);
    display: flex;
    align-items: center;
    padding: var(--standardSpacing) var(--xLargeSpacing);
    justify-content: space-between;
}

footer img {
    width: 250px;
    height: 250px;
}

footer .nyhedsbrev {
    width: 500px;
    text-align: center;
    display: block;
}


/* --- BUTTONS --- */
a .btn {
    background: var(--interactableColor);
    padding: var(--standardSpacing) var(--mediumSpacing);
    text-decoration: none;
    text-transform: uppercase;
}

a .btn:hover {
    background: var(--hoverButtonColor);
    transform: scale(1.1);
}

button {
    cursor: pointer;
}

.likeBtn {
    border: none;
    background: rgba(255, 255, 255, 0.719);
    border-radius: var(--round);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.7rem;
}

.likeBtn:hover {
    background: rgb(255, 255, 255);
    transform: scale(1.05);
    transition: .1s;
}

.filterBtn {
    background: var(--accentColor);
    border: none;
    border-radius: var(--borderRadius);
    padding: var(--standardSpacing) var(--mediumSpacing);
    color: var(--backgroundColor);
    font-size: 1.1rem;
    margin-bottom: var(--smallSpacing);
}

.filterBtn:hover {
    background: var(--hoverButtonColor);
    transition: .3s;

}

/* --- KAROSEL--- */
.udvalgteOpskrifterContainer {}

/* --- OPSKRIFT OG ARTIKEL PREVIEW --- */
.opskriftPreview,
.artikelPreview {
    width: 31%;
    min-height: 320px;
    position: relative;
    border-radius: var(--borderRadius);
}

.opskriftPreview img,
.artikelPreview img {
    height: 300px;
    border-radius: var(--borderRadius);
    box-shadow: 3px 3px 5px rgba(27, 27, 27, 0.151);

}

.opskriftPreview a,
.artikelPreview a {
    text-decoration: none;
}

.opskriftPreview .metadata {
    font-weight: 400;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
}



.opskriftPreview:hover,
.artikelPreview:hover {
    transform: scale(1.02);
    transition: .3s;
}

.artikelPreview img,
.artikelPreview h3 {
    margin-bottom: var(--smallSpacing);
}

/* --- FILTERING-- */
.filter {
    margin-bottom: var(--standardSpacing);

}

.kategorier {
    border-bottom: solid 2px var(--secondaryColor);
    margin: var(--xLargeSpacing) 0;
    display: flex;
    gap: 32px;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.kategorier img {
    border-radius: var(--round);
    height: 150px;
    box-shadow: 3px 3px 3px rgba(58, 58, 58, 0.267);
}

.kategorier a {

    width: 150px;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
}

.kategorier a p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.kategorier p:after {
    content: "";
    width: 100%;
    height: 5px;
    background-color: var(--accentColor);
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.2s ease-in;
}

.kategorier a:hover p::after {
    transform: scaleX(1);
}

.kategorier a p.active::after {
    content: "";
    transform: scaleX(1);

}

.kategorier input {
    opacity: 0;
    width: 0;
    height: 0;
}

.filterContainer {
    display: flex;
    flex-wrap: wrap;
    gap: var(--standardSpacing);
    background: #f4be664d;
    padding: var(--standardSpacing);
    border-radius: var(--borderRadius);

}

.filterContainer label {
    height: 30px;
    width: 100%;
}

.filterContainer input {
    width: 20px;
    height: 20px;
}

input:checked+label {
    background: gren;
}

.filterGroup {
    display: grid;
    row-gap: var(--smallSpacing);
    width: 170px;
}

/* --- OPSKRIFT-- */
.opskriftContainer article {
    display: grid;
    grid-template-columns: 5% repeat(12, 1fr) 5%;
}

.opskriftInfo {
    height: 80vh;
    display: flex;
}

.opskriftInfo .text {
    width: 45%;
    padding: 90px;
    /* padding-bottom: 0; */
    position: relative;

}

.opskriftInfo .text i {
    font-size: 1.6rem;
    color: var(--baseTextDarkColor);

}

.opskriftInfo .imgContainer {
    width: 55%;
    height: 80vh;
}

.opskriftInfo .metadata {
    display: flex;
    font-size: 1.2rem;
    margin-bottom: var(--largeSpacing);
    justify-content: space-between;
}

.opskriftInfo .opskriftNavn {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    text-align: left;
}

.opskriftInfo .ikoner {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 90px;
    left: 90px;
    right: 90px;
}

.opskriftInfo button {
    color: var(--accentColor);
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    align-items: center;
}

.opskriftInfo .text button i {
    color: var(--accentColor);
    font-size: 2rem;

}

.opskriftAction {
    display: flex;
}

.opskriftAction .metadata {
    background: #f4be6660;
    width: 45%;
    padding: 90px;
}

.opskriftAction .tilfojEn {
    background: var(--accentColor);
    border-radius: var(--round);
    width: 25px;
    height: 25px;
    border: none;
}

.opskriftAction .tilfojAlle {
    background: var(--backgroundColor);
    border-radius: var(--borderRadius);
    color: var(--accent);
    border: solid 2px var(--accentColor);
    padding: var(--standardSpacing) var(--largeSpacing);
    font-size: 1.2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.336);
}


.opskriftAction .tilfojAlle:hover {
    transform: scale(1.03);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.336);
    transition: .3s;
}

.opskriftAction .tilfojEn:hover {
    background: var(--hoverButtonColor);
}

.opskriftAction .tilfojAlle i {
    color: var(--accentColor);
}

.opskriftAction .tilfojEn i {
    color: var(--backgroundColor);

}